::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.content {
	justify-content: center;
	padding-top: 5vh;
	padding-top; 5%;
	padding-left: 15vh;
	padding-right: 15%;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

.link1 {
	display: flex;
	justify-content: center;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	padding-bottom: 3vh
}

.grayBlock {
	color: #ffffff;
	background-color: #333333;
	position: relative;
	top: -21px;
	left: 0;
	width: 100%;
	height: 110vh;
	margin: 0;
	overflow: hidden;
}

.banner {
	display: flex;
	justify-content: center;
	padding-top: 15vh;
	padding-top; 15%;
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
}

.banner2 {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
	padding-top; 5%;
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
}

.subtitle_white {
	display: flex;
	justify-content: center;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	color: #ffffff;
}

.container {
	display:flex;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 35vh;
    justify-content: space-around;
}
.flex_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 24vw;
    height: 25vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    background: #333333;
    border-radius: 34px;
}

.flex_link {
	text-decoration: none;
	text-color: #ffffff;
}

.flex_link:visited {
	text-decoration: none;
	text-color: #ffffff;
}