::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.content {
	justify-content: center;
	padding-top: 5vh;
	padding-top; 5%;
	padding-left: 15vh;
	padding-right: 15%;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

.link1 {
	display: flex;
	justify-content: center;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	padding-bottom: 3vh
	color: #ababcc;
}

.link1:visited {
	display: flex;
	justify-content: center;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	padding-bottom: 3vh
	text-decoration: none;
	color: #5656aa;
}

.contentBlock {
	position: relative;
	top: -21px;
	left: 0;
	width: 100%;
	margin: 0;
	padding-bottom: 5vh;
	overflow: hidden;
}

.white {
	color: #333333;
	background-color: #ababcc;
}

.gray {
	color: #ffffff;
	background-color: #333333;
}

.banner {
	display: flex;
	justify-content: center;
	padding-top: 15vh;
	padding-top; 15%;
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
}

.banner2 {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
	padding-top; 5%;
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
}

.subtitle {
	display: flex;
	justify-content: center;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

.par {
	justify-content: left;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	padding-top: 5vh;
	padding-left: 5vw;
}

.container {
	display:flex;
	flex-direction: row;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 35vh;
    min-height: 200px;
    justify-content: space-around;
}

@media only screen and (max-width: 700px) {
	.container {
	flex-direction: column;
	height: 90vh;
	width: 90vw;
	padding-top: 10vh;
	padding-bottom: 5vh;
    justify-content: space-around;
	}
}

.flex_item {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 24vw;
    height: 20vh;
    min-height: 190px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border-radius: 34px;
}

@media only screen and (max-width: 700px) {
	.flex_item {
    width: 80vw;
    height: 25vh;
    min-width: 190px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
	}
}

.flex_link {
	text-decoration: none;
	text-color: #ffffff;
}

.flex_link:visited {
	text-decoration: none;
	text-color: #ffffff;
}