::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.grayBlock {
	color: #ffffff;
	background-color: #333333;
	position: relative;
	top: -21px;
	left: 0;
	width: 100%;
	height: 150vh;
	margin: 0;
	overflow: hidden;
}

.banner {
	display: flex;
	justify-content: center;
	padding-top: 35vh;
	padding-top; 35%;
	font-family: 'Courier Prime', monospace;
	font-size: 50px;
}